<!-- <p>state works!</p> -->
<!-- <div class="formgroup inputbox text" formControlName="COUNTRY">
    <form [formGroup]="statename"><label></label>
    <label for="country"><h1>COUNTRY</h1></label>
    <select id="country" formControlName="COUNTRY" required="">
        <option value="" formControlName=></option>
        <option value="" formControlName=></option>
    </select>
    </form>
</div> -->
<br><br><br><br>

<div class="BOX">
    <form [formGroup]="formtwo" (ngSubmit)="Clickme()">
        <div class="box1">
            <label>
                <h4>COUNTRY:</h4>
            </label>
            <select formControlName="countryname" class="COUNTRY">
                <option class="COUNTRY">
                    <h1>Select Your Country</h1>
                </option>
                <option *ngFor="let item of fetchID">{{item.userId}}</option>
                <!-- <select formControlName="STATENAME"><option class="STATE">Select Your Country</option>
            <option *ngFor="let item of fetchID">{{item.STATE}}</option> -->
            </select>
            <span class="text2" *ngIf="formtwo.controls.countryname.invalid && formtwo.controls.countryname.touched">Please
                Enter Your Country Name....</span>
            <!-- </select> -->
        </div>
        <br>
        <br>


        <div class="box">
            <label>
                <h4>STATE</h4>
            </label>
            <input type="text" formControlName="statename" class="STATE" placeholder="Please enter your state"
                formControlName="statename" required="">
            <br><br>
            <span class="text2"
                *ngIf="formtwo.controls.statename.invalid && formtwo.controls.statename.touched">Please Enter Your
                STATE Name....</span>
            <button class="SUBMIT">SUBMIT</button>
        </div>
    </form>
</div>
