<nav>

  <li><a class="a1" href="" [routerLink]="['/place']" routerLinkActive="router-link-active"><h1>COUNTRY</h1></a></li>

  <li><a class="a2" href="" [routerLink]="('/state')" routerLinkActive="router-link-active"><h1>STATE</h1></a></li>

  <li><a class="a3" href="" [routerLink]="['/district']" routerLinkActive="router-link-active"><h1>DISTRICT</h1></a></li>

  <li><a class="a3" href="" [routerLink]="('/viewdata')" routerLinkActive="router-link-active"><h1>View Data</h1></a></li>

</nav>
<router-outlet></router-outlet>
